
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo h1{
    font-size: 1.7rem;
    
}


nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #000;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo{
    color: #fff;
    position: relative;
    left: 1%;
    top: 13%;
    
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    right: 15%;
    top: 30%;
}

nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    padding:  8px;
    letter-spacing: 1px;
    transform: all 0.3s ease;
    

}
nav ul li:nth-child(4){
    border: 1px solid #000;
}


nav ul li a.active,
nav ul li a:hover{
background: #000;
}

nav .menu-btn i{
    display: none;
    color: #000;
    cursor: pointer;
}
nav ul li a:hover{
    color: #fff;
}



.color h5 a{
    display: flex;
    justify-content: end;
    margin: 3px 26px;
    text-decoration: none;
    color: #fff;

}
.color{
    background-color: #000;
}

.produtos h1{
    font-size: 3.2rem;
    letter-spacing: 2px;
    font-family: sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotos1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    width: 100%;
}

.fotoss1{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
   
}

.fotos1 img{
    padding: 4%;
}
.fotoss1 img{
    padding: 2%;
}



.container-pedido .fotos1 .step-line {
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 300%;
    color: #000;
}
 .step-line:before {
    background-color: #000;
    content: '';
    display: block;
    bottom: 19px;
    height: 2px;
    margin: 0 auto;
    width: 80%;
    position: relative;
    
}

.txt p{
    display:inline-block;
    justify-content: center;
    align-items: center;
}
.product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
 
}

 p:nth-child(2){
   text-align: left;
   
}
.forpage{
    background-color: #000;
}
.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    
   
}


.chops{
    position: relative;
    margin-top: 50%;
    width: 100%;
}
.chops p{
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.chops img{
    width: 100%;
}
.choperia{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    height: 300px;
}
#direction{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    background-color: #fdfbe1;
    
    
}

.direction2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 7%;
}



footer{
   background-color: #000;
   text-align: center;
   padding: 30px;
   color: #fff;
}

.footer p{
text-align: center;
color: #fff;
align-items: center;


}

span:nth-child(1) > a:nth-child(1) {
   color: #f44803;
   text-decoration: none;
   }
.footer:nth-child(10) > p:nth-child(5) {
    font-size: 16px;
   }
footer i {
    margin: 18px;
}

footer button {
    background-color: #fff;
    border: 1px solid;
    border-radius: 3px;
    padding: 7px 10px;
    position: relative;
    right: 35%;
}

footer button a {
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
    
}
footer button a:hover{
    color: #000;
    transition: 0.5s;
 
}
footer button:hover{
    transition: 0.5s;
    background-color:dimgray;  
}

.title-chop h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3%;
   }

   .choperia{
    background-color: #000;
    height: 100%;
   }
   .container-chopeira:nth-child(2) > h4:nth-child(2) {
   background-color: #fff;
   color: #000;
   width: 40%;
   font-size: 22px;
   font-family: sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   position: relative;
   left: 50%;
   }
   .container-chopeira:nth-child(1) > h4:nth-child(2) {
   background-color: #fff;
   color: #000;
   width:40%;
   position: relative;
   left: 10%;
   font-size: 22px;
   font-family: sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   }
   .page-title2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: c;
   }
   .imageprinc{
    width: 100%;
    height: 100vh;
   }
   .banner{
    background-image: url(/imagens/testebanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 100vh;
    

}

/* animacoes */

.logo h1{
    position: relative;
   
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Kalam', cursive;
font-family: 'Rubik Dirt', cursive;
}
.logo h1::before{
    content: attr(data-text);
    position: absolute;
    width: 0%;
    height: 100%;
    color: #f44803;
    -webkit-text-stroke: 0vw #000;
    border-right:  2px solid transparent;
    overflow: hidden;
    animation:  animate 8s linear infinite;
    
}
@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
@keyframes animate {
    0% {
        width: 0;
    }
    70%{
        width: 100%;
    }
}

[data-anime]{
    opacity: 0;
    transition: 0.4s;
}

[data-anime="left"]{
    transform: translate3d(50px, 0 , 0);
}
[data-anime="right"]{
    transform: translate3d(50px, 0 , 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

[data-anime="top"]{
    transform: translate3d(0px, 50px, 0);
}
[data-anime="bottom"]{
    transform: translate3d(0px, 50px, 0);
}

[data-anime="left"]{
    transform: translate3d(-50px, 0 , 0);
}
[data-anime="right"]{
    transform: translate3d(50px, 0 , 0);
}








@media (max-width: 920px){
   
    nav .menu-btn i{
        display: block;
        color: #fff;
    }
    nav ul {
        position: fixed;
        top: 85px;
        background-color: #000;
        height: 100vh;
        width: 100%;
        left: -100%;
        display: block;
        transition: all 0.3s ease;
    }
   
   nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:  8px;
    letter-spacing: 1px;
    transform: all 0.3s ease;
    

}
   nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #000;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    
}
nav .logo{
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    position: relative;
    left: 1%;
}
    nav ul.open{
        left: 0;
    }
nav ul li {
    width: 100%;
    margin: 50px 0;
    color: #fff;
}
nav ul li a.active,
nav ul li a:hover{
background: none;
color: #fff;
}
}

/* iphone se ate 568px */
@media screen and (min-width: 290px) and (max-width:320px) {
    nav .logo{
        color: #fff;
        position: relative;
        left: -35%;
        text-transform: uppercase;
        top: 30px;
    }
   
    nav ul {
        position: fixed;
        top: 85px;
        background-color: #000;
        height: 100vh;
        width: 100%;
        left: -100%;
        display: block;
        transition: all 0.3s ease;
    }
    
    .logo h1{
        font-size: 12px ;
        position: relative;
        bottom: 20px;
     }
    .title-chop h1{
    font-size: 2rem;
    }
    .container{
        display: flex;
        flex-direction: column;
        background-color: #000;
    }
    .choperia{
        display: flex;
        flex-direction: column;
    }
    .container img{
        width: 40%;
    }
    .container-chopeira img{
        width: 50%;
    }
    #direction {
        display: flex;
        flex-direction: column;
    }
    .caminho2 img {
        width: 50%;
    }
    .direction2{
        display:flex;
        flex-direction: column;
    }
    .title-chop h1{
    font-size: 2rem;
    margin-top: 10%;
    }
    .chops{
    margin-bottom: 50%;
    margin: 10px;
    
    }
    .chops p{
        margin-top: 2%;
        font-size: 11px;
        font-weight: bold;
        color: #fff;
    }
    .chops img{
        width: 50%;
    }
    .caminho {
        display: none;
    }
    .step-line{
        display: none;
    }
    .container{
        background-color: #000;
    }
    .direction2 h3 {
     margin: 10px;
     padding: 10px;
     font-size: 1.4rem;
    }
    .direction2 p{
     font-size: 0.7rem;
    }
    .footer h5{
    font-size: 0.8rem;
    }
    .footer p{
        font-size: 0.7rem;
    }
    .footer button {
    background-color: #fff;
    border: 1px solid;
    border-radius: 3px;
    padding: 1px 4px;
    position: relative;
    right: 10%;
    }
    .imageprinc{
        width: 100%;
        height: 100vh;
       }
       .banner{
        background-image: url(/imagens/testebanner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        width: 100%;
        height: 100vh;
        overflow: auto;
    
    }
    nav ul {
        position: fixed;
        top: 85px;
        background-color: #000;
        height: 100vh;
        width: 100%;
        left: -100%;
        display: block;
        transition: all 0.3s ease;
    }
    
    .logo h1{
        font-size: 12px ;
        position: relative;
        bottom: 20px;
        
       
    }
    li:nth-child(4) > a:nth-child(1) {
     background-color: #000;
       }
       nav ul li:nth-child(4) {
        border: 1px solid #000;
        background-color: #000;

      }
       
      li:nth-child(4) > a:nth-child(1) {
        border: 1px solid;
        border-radius: 4px;
        width: 89%;
        background-color: #fff;
        color: #000;
       }
       
       nav ul li a:nth-child(){
        color:#fff;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        transform: all 0.3s ease;
       
        
       
    }

    
}

/* iphone 6/7/8 375px */

@media screen and (min-width: 321px) and (max-width:414px) {
    nav .logo{
       
         color: #fff;
         position: relative;
         left: -35%;
         text-transform: uppercase;
         font-size: 1.6rem;
     }
     .logo h1{
        font-size: 20px;
        letter-spacing: 2px;
        position: relative;
        top: 6px;
     }
     .title-chop h1{
     font-size: 2rem;
     }
     .container{
         display: flex;
         flex-direction: column;
         background-color: #000;
     }
     .choperia{
         display: flex;
         flex-direction: column;
     }
     nav ul {
        position: fixed;
        top: 85px;
        background-color: #000;
        height: 100vh;
        width: 100%;
        left: -100%;
        display: block;
        transition: all 0.3s ease;
        
    }
    
    .logo h1{
        font-size: 12px ;
        position: relative;
        bottom: 20px;
        
       
    }
     .container img{
         width: 40%;
     }
     .container-chopeira img{
         width: 50%;
     }
     #direction {
         display: flex;
         flex-direction: column;
     }
     .caminho2 img {
         width: 50%;
     }
     .direction2{
         display:flex;
         flex-direction: column;
     }
     .title-chop h1{
     font-size: 2rem;
     margin-top: 10%;
     }
     .chops{
     margin-bottom: 50%;
     margin: 10px;
     }
     .chops p{
         margin-top: 2%;
         font-size: 11px;
         font-weight: bold;
         color: #fff;
     }
     .chops img{
         width: 50%;
     }
     .caminho {
         display: none;
     }
     .step-line{
         display: none;
     }
     .container{
         background-color: #000
     }
     .direction2 h3 {
      margin: 10px;
      padding: 10px;
      font-size: 1.4rem;
     }
     .direction2 p{
      font-size: 0.7rem;
     }
     .footer h5{
     font-size: 0.8rem;
     }
     .footer p{
         font-size: 0.7rem;
     }
     .footer button {
     background-color: #fff;
     border: 1px solid;
     border-radius: 3px;
     padding: 1px 4px;
     position: relative;
     right: 10%;
     }
     .imageprinc{
         width: 100%;
         height: 100vh;
        }
        .banner{
            background-image: url(/imagens/testebanner.jpg);
            background-repeat: no-repeat;
            background-size: cover;
         
            width: 100%;
            height: 100vh;
            overflow: auto;
        
        }
     li:nth-child(4) > a:nth-child(1) {
      background-color: #000;
        }
        nav ul li:nth-child(4) {
         border: 1px solid #000;
         background-color: #000;
 
       }
        
        
        nav ul li a{
         color:#fff;
         text-decoration: none;
         font-family: sans-serif;
         font-size: 20px;
         font-weight: 600;
         padding: 8px 15px;
         border-radius: 5px;
         letter-spacing: 1px;
         transform: all 0.3s ease;
        
     }
     footer p:nth-child(5){
        margin-top: 10px;
      
     }
}

@media screen and (min-width: 415px) and (max-width: 600px ) {
     nav .logo{
        width: 90%;
         position: relative;
         left: -15%;
     }
     li:nth-child(4) > a:nth-child(1) {
        background-color: #000;
          }
          nav ul li:nth-child(4) {
           border: 1px solid #000;
           background-color: #000;
   
         }
         .container{
            display: flex;
            flex-direction: column;
            background-color: #000;
        }
        .container{
            display: flex;
            flex-direction: column;
            
        }
        .choperia{
            display: flex;
            flex-direction: column;
        }
        .container img{
            width: 40%;
        }
        .container-chopeira img{
            width: 50%;
        }
        #direction {
            display: flex;
            flex-direction: column;
        }
        .caminho2 img {
            width: 50%;
        }
        .direction2{
            display:flex;
            flex-direction: column;
        }
        .title-chop h1{
        font-size: 2rem;
        margin-top: 10%;
        }
        
        .caminho {
            display: none;
        }
        .step-line{
            display: none;
        }
        .chops{
            margin-bottom: 50%;
            margin: 10px;
            }
            .chops p{
                margin-top: 2%;
                font-size: 19px;
                font-weight: bold;
                color: #fff;
            }
            .chops img{
                width: 50%;
            }
            nav ul li a{
                color:#fff;
                text-decoration: none;
                font-family: sans-serif;
                font-size: 15px;
                font-weight: 600;
                padding: 8px 15px;
                border-radius: 5px;
                letter-spacing: 1px;
                transform: all 0.3s ease;
                font-family: 'Kalam', cursive;
            }
            nav ul {
                position: fixed;
                top: 85px;
                background-color: #000;
                height: 100vh;
                width: 100%;
                left: -100%;
                display: block;
                transition: all 0.3s ease;
            }
            
            .logo h1{
                font-size: 40px ;
                position: relative;
                bottom: 20px;
                
               
            }
}

/* landscape*/

@media screen and (min-width: 568px) and (max-width: 667px) and (orientation: landscape) {
    nav .logo{
        width: 90%;
         position: relative;
         left: -15%;
         
     }
     .container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
     }
     .chops:nth-child(5) > img:nth-child(1) {
        
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 77%;
       }
       .chops:nth-child(5) > p:nth-child(2) {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 50%;
       }
       nav ul li a{
        color:#fff;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 600;
        padding: 8px 15px;
        border-radius: 5px;
        letter-spacing: 1px;
        transform: all 0.3s ease;
        font-family: 'Kalam', cursive;
    }
     
}
@media screen and (min-width: 667px) and (max-width: 737px) and (orientation: landscape) {
    nav .logo{
        width: 90%;
         position: relative;
         left: -15%;
         
     }
     .container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
     }
     #direction{
        display: none;
     }
     .step-line{
        display: none;
     }
     .direction2{
        display: flex;
        flex-direction: column;
     }
     .chops:nth-child(5) > img:nth-child(1) {
        
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 50%;
       }
       .chops:nth-child(5) > p:nth-child(2) {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 50%;
       }
       nav ul li a{
        color:#fff;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 15px;
        font-weight: 600;
        padding: 8px 15px;
        border-radius: 5px;
        letter-spacing: 1px;
        transform: all 0.3s ease;
        font-family: 'Kalam', cursive;
    }

}
@media screen and (min-width: 737px) and (max-width:  850px) and (orientation: landscape){
    nav .logo{
        width: 90%;
         position: relative;
         left: -15%;
         
         }
         .container{
            display: grid;
            grid-template-columns: repeat(2 ,1fr);
         }
         #direction{
            display: none;
         }
         .step-line{
            display: none;
         }
         .direction2{
            display: flex;
            flex-direction: column;
         }
         .chops:nth-child(5) > img:nth-child(1) {
            
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            position: relative;
            left: 55%;
           }
           .chops:nth-child(5) > p:nth-child(2) {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            position: relative;
            left: 50%;
           }
           nav ul li a{
            color:#fff;
            text-decoration: none;
            font-family: sans-serif;
            font-size: 15px;
            font-weight: 600;
            padding: 8px 15px;
            border-radius: 5px;
            letter-spacing: 1px;
            transform: all 0.3s ease;
            font-family: 'Kalam', cursive;
        }
}